/* --------- VARIABLES --------- */
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1248px;

$pink: #ff70d9;
$yellow: #ebff00;
$blue: #304571;
$white: #ffffff;
$black: #000000;

/* --------- MIXINS --------- */
@mixin max($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin min($size) {
  @media (min-width: $size) {
    @content;
  }
}

/* --------- APP --------- */
.app {
  background: linear-gradient(180deg, #0d1e48, $blue);
}

/* --------- COMPONENTS --------- */
.container {
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
  height: 100%;
}

.button {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border-radius: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  width: fit-content;
  display: inline-block;
  text-align: center;
  font-size: 22px;

  &--primary {
    background-color: $yellow;
    color: $black;
    border: none;
    padding: 14px 40px;

    &:hover {
      opacity: 0.6;
    }
  }

  &--outline {
    background: transparent;
    color: $yellow;
    border: 2px solid $yellow;
    padding: 14px 40px;

    &:hover {
      opacity: 0.6;
    }
  }

  @include max($breakpoint-tablet) {
    &--outline {
      padding: 7px 40px;
      font-size: 16px;
    }
  }

  @include max($breakpoint-mobile) {
    &--primary {
      padding: 7px 40px;
      font-size: 16px;
    }
  }
}

/* --------- HEADER --------- */
.header {
  background-color: $black;
  color: $white;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;

    @include max($breakpoint-mobile) {
      padding: 1rem;
    }
  }

  &__logo {
    width: 104px;

    @include max($breakpoint-desktop) {
      width: 72px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @include max($breakpoint-mobile) {
      display: none;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    svg.cart-icon {
      display: block;
      width: 24px;
      height: 24px;
      fill: $white;
    }

    &:hover {
      background: linear-gradient(90deg, #ebff00, #ff70d9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover svg.cart-icon {
      stop:first-child {
        stop-color: #ebff00;
      }

      stop:last-child {
        stop-color: #ff70d9;
      }
    }
  }

  &__burger {
    display: none;

    @include max($breakpoint-mobile) {
      display: block;
      z-index: 1001;
    }

    .burger__icon {
      position: relative;
      width: 28px;
      height: 28px;
      background: none;
      border: none;
      cursor: pointer;

      .burger__icon-img {
        position: absolute;
        inset: 0;
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .visible {
        opacity: 1;
        transform: rotate(0deg);
        z-index: 1;
      }

      .hidden {
        opacity: 0;
        transform: rotate(90deg);
        z-index: 0;
        pointer-events: none;
      }
    }

    .burger__menu {
      position: absolute;
      top: 100%;
      right: 1rem;
      display: flex;
      flex-direction: column;
      background-color: $black;
      padding: 1rem;
      gap: 0.5rem;
      border-radius: 0 0 0.5rem 0.5rem;
      z-index: 1002;
      transform: scaleY(0);
      transform-origin: top right;
      opacity: 0;
      transition: all 0.3s ease;
      pointer-events: none;

      .burger__link {
        color: $white;
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem;

        &:hover {
          text-decoration: underline;
        }
      }

      &.open {
        pointer-events: auto;
        opacity: 1;
        transform: scaleY(1);
      }
    }
  }
}

/* --------- HERO --------- */
.hero {
  height: 490px;
  position: relative;
  background-image:
    url('./assets/images/earth.webp'), linear-gradient(-90deg, #00000000, #0f1420c9),
    url('./assets/images/hero.webp');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position:
    right 2rem center,
    center,
    center top;
  background-size: auto, auto, cover;

  @include max($breakpoint-tablet) {
    height: 420px;
    background-position:
      right -6rem center,
      center,
      center top;
    background-size: 300px, cover, cover;
  }

  @include max($breakpoint-mobile) {
    height: 450px;
    background-position:
      top -6.5rem center,
      center,
      center top;
    background-size: 95%, cover, cover;
    background-image:
      url('./assets/images/earth.webp'), linear-gradient(0, #0f1420c9, #00000000),
      url('./assets/images/hero.webp');
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 2rem 40px;

    @include max($breakpoint-mobile) {
      padding: 1rem 1rem 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 680px;
    color: $white;
    font-weight: 800;
    height: 100%;
    justify-content: center;

    @include max($breakpoint-tablet) {
      max-width: 420px;
    }

    @include max($breakpoint-mobile) {
      align-items: center;
      max-width: 100%;
      justify-content: end;
      text-align: center;
      gap: 12px;
    }
  }

  &__title {
    font-size: 72px;

    .pink {
      color: $pink;
    }

    @include max($breakpoint-tablet) {
      font-size: 48px;
    }

    @include max($breakpoint-mobile) {
      font-size: 36px;
    }
  }

  &__subtitle {
    font-size: 32px;

    .yellow {
      color: $yellow;
    }

    @include max($breakpoint-tablet) {
      font-size: 22px;
    }

    @include max($breakpoint-mobile) {
      font-size: 16px;
    }
  }

  &__button {
    @extend .button;
    @extend .button--primary;
  }
}

/* --------- OFFERS --------- */
.offers {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2rem;

  @include max($breakpoint-tablet) {
    gap: 30px;
  }

  @include max($breakpoint-mobile) {
    padding: 2rem 1rem;
    gap: 20px;
  }

  &__title {
    color: $white;
    font-size: 32px;
    font-weight: 800;

    @include max($breakpoint-tablet) {
      font-size: 24px;
    }

    @include max($breakpoint-mobile) {
      font-size: 18px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include max($breakpoint-tablet - 1) {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    @include max($breakpoint-mobile) {
      gap: 20px;
    }

    @include min($breakpoint-desktop) {
      > :nth-child(1),
      > :nth-child(4) {
        grid-column: span 2;

        .offers__card__title {
          font-size: 74px;
          max-width: 600px;
        }

        .offers__card__subtitle {
          font-size: 26px;
        }
      }
    }

    > :nth-child(1) {
      background-image:
        linear-gradient(-90deg, #00000000, #0f1420c9), url('./assets/images/space_1.webp');
    }

    > :nth-child(2) {
      background-image:
        linear-gradient(-90deg, #00000000, #0f1420c9), url('./assets/images/space_2.webp');
    }

    > :nth-child(3) {
      background-image:
        linear-gradient(-90deg, #00000000, #0f1420c9), url('./assets/images/space_3.webp');
    }

    > :nth-child(4) {
      background-image:
        linear-gradient(-90deg, #00000000, #0f1420c9), url('./assets/images/space_4.webp');
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position: center, center;
    color: $white;
    gap: 22px;

    @include max($breakpoint-tablet) {
      padding: 80px 30px 30px;
    }

    @include max($breakpoint-mobile) {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__title {
      font-size: 46px;
      font-weight: 800;

      @include max($breakpoint-tablet) {
        font-size: 40px;
      }
    }

    &__subtitle {
      font-size: 24px;
      font-weight: 800;

      @include max($breakpoint-tablet) {
        font-size: 16px;
      }
    }

    &__button {
      @extend .button;
      @extend .button--outline;
    }
  }
}

/* --------- CTA --------- */
.cta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $white;
  padding: 0 2rem 2rem;

  @include max($breakpoint-mobile) {
    padding: 0 1rem 2rem;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;

    @include max($breakpoint-tablet) {
      font-size: 24px;
    }

    @include max($breakpoint-mobile) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 20px;
    opacity: 0.6;

    @include max($breakpoint-tablet) {
      font-size: 16px;
    }

    @include max($breakpoint-mobile) {
      font-size: 14px;
    }
  }

  &__link {
    color: $yellow;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.6;
    }

    @include max($breakpoint-tablet) {
      font-size: 16px;
    }

    @include max($breakpoint-mobile) {
      font-size: 14px;
    }
  }
}

/* --------- FOOTER --------- */
.footer {
  background: $black;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: fit-content;
    height: fit-content;
  }

  &__text {
    color: $yellow;
    font-weight: 800;
  }
}
